#mypic{
    height: 250px; width: 250px;
}
#navText{
    float: right;

}
#footername{
    
    padding-bottom: 20px;
}
#footer{
    padding-top: 360px;
}
#bodycontent{
    max-width: 960px;
    padding: center;
    background-color: aquamarine;
    text-align: center;
    margin-left: 300px;
    margin-top: 35px;



}
#contactform{
    background-color: white;

}
#portfoliopage{
    max-width: 960px;
   margin-block: center;
   margin: center;
   padding: inherit;
   text-align: center;
}
@media only screen and (max-width: 980px) {
    body {
      width: 90%;
      margin-left: 5%;
    }
   ​
    footer {
      width: 100%;
    } 
   }
   @media only screen and (max-width: 760px) {
    body {
      width: 90%;
      margin-left: 5%;
    }
   ​
    footer {
      width: 100%;
    } 
   }
   @media only screen and (max-width: 640px) {
    body {
      width: 90%;
      margin-left: 5%;
    }
   ​
    footer {
      width: 100%;
    } 
   }

#container{
    
}
